@import 'variables';

* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  scroll-behavior: smooth;
}

p {
  color: $black-color;
}

a {
  text-decoration: none;

  &:visited {
    color: inherit;
  }
}

ul,
ol {
  list-style: none;
}