<section class="section">
  <p class="section__paragraph">
    <span class="section__topic">ÓRGÃO/ENTIDADE PÚBLICO(A):</span> Prefeitura Municipal de Taquaritinga
  </p>
  <p class="section__paragraph">
    <span class="section__topic">ORGANIZAÇÃO DA SOCIEDADE CIVIL PARCEIRA:</span> Centro Espírita e Casa do Menor
    André Luiz
  </p>
  <p class="section__paragraph">
    <span class="section__topic">TERMO DE COLABORAÇÃO/FOMENTO N° (DE ORIGEM):</span> 020/2020
  </p>
  <p class="section__paragraph">
    <span class="section__topic">OBJETO:</span> O presente Termo de Fomento, por atender o que preconiza o artigo 29 da
    Lei Federal nº 13.019, de 31 de julho de 2014 – artigo 174 da Lei Orgânica do Município (Emenda Impositiva), cuja
    orientação para a celebração foi publicada no Diário Oficial do Município em 07 de fevereiro de 2020 – Ano V /
    Edição nº 947, tem por objeto a execução do “Projeto Sopa”, com emprego de recursos da dotação orçamentária da
    pasta, consoante o plano de trabalho, parte integrante indissociável deste ajuste.
  </p>
</section>