<form [formGroup]="beneficiaryForm" class="form" (ngSubmit)="SubmitCreate()">
  <!-- Primeira metade dos campos -->
  <div class="form__half">
    <mat-form-field>
      <mat-label>Nome:</mat-label>
      <input matInput formControlName="name" name="name" required />
      <mat-error>{{ getErrorMessage("name") }}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Sobrenome:</mat-label>
      <input matInput formControlName="surname" name="surname" required />
      <mat-error>{{ getErrorMessage("surname") }}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Telefone:</mat-label>
      <input
        matInput
        formControlName="phoneNumber"
        name="phoneNumber"
        required
      />
      <mat-error>{{ getErrorMessage("phoneNumber") }}</mat-error>
    </mat-form-field>

    <!-- Alguém da familia recebe Aposentadoria -->
    <div formGroupName="familyReceivepension">
      <label for="statusPension">Alguém da familia recebe Aposentadoria:</label>
      <select
        formControlName="statusPension"
        id="statusPension"
        name="statusPension"
      >
        <option value="Sim">Sim</option>
        <option value="Não">Não</option>
      </select>
    </div>

    <div formGroupName="familyReceivepension">
      <!-- Value Pensão -->
      <div
        *ngIf="
          beneficiaryForm.get('familyReceivepension.statusPension')?.value ===
          'Sim'
        "
      >
        <mat-form-field>
          <input
            matInput
            formControlName="valuePension"
            type="number"
            name="valuePension"
            placeholder="Valor da Aposentadoria"
            required
          />
          <span matTextPrefix>R$&nbsp;</span>
          <span matTextSuffix>.00</span>
          <mat-error>{{ getErrorMessage("valuePension") }}</mat-error>
        </mat-form-field>
      </div>
    </div>

    <mat-form-field>
      <mat-label>RG:</mat-label>
      <input matInput formControlName="rg" name="rg" required />
      <mat-error>{{ getErrorMessage("rg") }}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>CPF:</mat-label>
      <input matInput formControlName="cpf" name="cpf" required />
      <mat-error>{{ getErrorMessage("cpf") }}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Data de Nascimento:</mat-label>
      <input
        matInput
        [matDatepicker]="dateOfBirthPicker"
        formControlName="dateOfBirth"
        name="dateOfBirth"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="dateOfBirthPicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error>{{ getErrorMessage("dateOfBirth") }}</mat-error>
    </mat-form-field>

    <mat-form-field formGroupName="address">
      <mat-label>Rua:</mat-label>
      <input
        matInput
        formControlName="street"
        placeholder="Rua"
        name="street"
        required
      />
      <mat-error>{{ getErrorMessage("street") }}</mat-error>
    </mat-form-field>
    <mat-form-field formGroupName="address">
      <mat-label>Bairro:</mat-label>
      <input
        matInput
        formControlName="district"
        placeholder="Bairro"
        name="district"
        required
      />
      <mat-error>{{ getErrorMessage("district") }}</mat-error>
    </mat-form-field>

    <mat-form-field formGroupName="address">
      <mat-label>Cidade:</mat-label>
      <input
        matInput
        formControlName="city"
        placeholder="Cidade"
        name="city"
        required
      />
      <mat-error>{{ getErrorMessage("city") }}</mat-error>
    </mat-form-field>

    <mat-form-field formGroupName="address">
      <mat-label>CEP:</mat-label>
      <input
        matInput
        formControlName="zipCode"
        placeholder="CEP"
        name="zipCode"
        required
      />
      <mat-error>{{ getErrorMessage("zipCode") }}</mat-error>
    </mat-form-field>
  </div>

  <div class="form__half__option">
    <div formGroupName="home">
      <label for="housingCondition">Condição de Moradia:</label>
      <select
        formControlName="housingCondition"
        id="housingCondition"
        name="housingCondition"
      >
        <option value="CASA PRÓPRIA">CASA PRÓPRIA</option>
        <option value="ALUGADA">ALUGADA</option>
        <option value="OUTROS">OUTROS</option>
      </select>
    </div>

    <!-- Valor da Moradia -->
    <div formGroupName="home">
      <mat-form-field>
        <mat-label>Valor da Moradia:</mat-label>
        <input
          matInput
          formControlName="value"
          type="number"
          placeholder="Valor"
          name="value"
          required
        />
        <span matTextPrefix>R$&nbsp;</span>
        <span matTextSuffix>.00</span>
        <mat-error>{{ getErrorMessage("value") }}</mat-error>
      </mat-form-field>
    </div>

    <!-- Profissão do responsavel -->
    <div>
      <mat-form-field>
        <mat-label>Profissão do Responsavel da Familía:</mat-label>
        <input
          matInput
          formControlName="professionFamilyresponsible"
          name="professionFamilyreponsible"
          placeholder="Profissão do Responsavel"
          required
        />
        <mat-error>{{
          getErrorMessage("professionFamilyreponsible")
        }}</mat-error>
      </mat-form-field>
    </div>

    <!-- Recebe Bolsa Família -->
    <div formGroupName="familyScholarship">
      <label for="familyStatus">Recebe Bolsa Família:</label>
      <select
        formControlName="familyStatus"
        id="familyStatus"
        name="familyStatus"
      >
        <option value="Sim">Sim</option>
        <option value="Não">Não</option>
        <mat-error>{{ getErrorMessage("familyStatus") }}</mat-error>
      </select>
    </div>

    <div formGroupName="familyScholarship">
      <!-- Valor Bolsa Família -->

      <div
        *ngIf="
          beneficiaryForm.get('familyScholarship.familyStatus')?.value === 'Sim'
        "
      >
        <mat-form-field>
          <input
            matInput
            formControlName="familyValue"
            type="number"
            name="familyValue"
            placeholder="Valor Bolsa Família:"
            required
          />
          <span matTextPrefix>R$&nbsp;</span>
          <span matTextSuffix>.00</span>
          <mat-error>{{ getErrorMessage("familyValue") }}</mat-error>
        </mat-form-field>
      </div>
    </div>

    <!-- Recebe Pensão -->
    <div formGroupName="receivePension">
      <label for="statusPension">Recebe Pensão:</label>
      <select
        formControlName="statusPension"
        id="statusPension"
        name="statusPension"
      >
        <option value="Sim">Sim</option>
        <option value="Não">Não</option>
        <mat-error>{{ getErrorMessage("statusPension") }}</mat-error>
      </select>
    </div>

    <!-- Value Pensão -->
    <div formGroupName="receivePension">
      <div
        *ngIf="
          beneficiaryForm.get('receivePension.statusPension')?.value === 'Sim'
        "
      >
        <mat-form-field>
          <input
            matInput
            formControlName="valueReceive"
            name="valueReceive"
            placeholder="Valor da pensão é obrigatório."
            required
          />
          <span matTextPrefix>R$&nbsp;</span>
          <span matTextSuffix>.00</span>
          <mat-error>{{ getErrorMessage("valueReceive") }}</mat-error>
        </mat-form-field>
      </div>
    </div>
  </div>

  <!-- Adicionando Membros da Família -->
  <button
    mat-button
    type="button"
    class="form__submit-button"
    (click)="addFamilyMember()"
  >
    Adicionar Membro da Família
  </button>
  <!-- Membros da Família -->
  <div formArrayName="compositionFamily">
    <div
      class="form__compFamily"
      *ngFor="let familyMember of compositionFamilyControls; let i = index"
      [formGroupName]="i"
    >
      <mat-form-field>
        <mat-label>Nome</mat-label>
        <input matInput formControlName="name" name="name" />
        <mat-error>{{ getErrorMessage("name") }}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Sobrenome</mat-label>
        <input matInput formControlName="surname" name="surname" />
        <mat-error>{{ getErrorMessage("surname") }}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Idade</mat-label>
        <input matInput formControlName="age" name="age" type="number" />
        <mat-error>{{ getErrorMessage("age") }}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Afiliação*</mat-label>
        <input matInput formControlName="kinship" name="kinship" />
        <mat-error>{{ getErrorMessage("kinship") }}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Profissão</mat-label>
        <input matInput formControlName="profession" name="profession" />
        <mat-error>{{ getErrorMessage("profession") }}</mat-error>
      </mat-form-field>

      <div formGroupName="hasincome">
        <label for="statusHasincome">Possui Renda:</label>
        <select
          formControlName="statusHasincome"
          id="statusHasincome"
          name="statusHasincome"
        >
          <option value="Sim">Sim</option>
          <option value="Não">Não</option>
          <mat-error>{{ getErrorMessage("statusHasincome") }}</mat-error>
        </select>
      </div>

      <!-- Tem renda -->
      <div formGroupName="hasincome">
        <div
          *ngIf="
            getFamilyMemberControl(i, 'hasincome.statusHasincome')?.value ===
            'Sim'
          "
        >
          <mat-form-field>
            <input
              matInput
              formControlName="valueHasincome"
              name="valueHasincome"
              placeholder="Valor da renda é obrigatório."
            />
            <span matTextPrefix>R$&nbsp;</span>
            <span matTextSuffix>.00</span>
            <mat-error>{{ getErrorMessage("valueHasincome") }}</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div formGroupName="specialNeeds">
        <label for="statusSpecialNeeds">Necessidades Especiais:</label>
        <select
          formControlName="statusSpecialNeeds"
          id="statusSpecialNeeds"
          name="statusSpecialNeeds"
        >
          <option value="Sim">Sim</option>
          <option value="Não">Não</option>
          <mat-error>{{ getErrorMessage("statusSpecialNeeds") }}</mat-error>
        </select>
      </div>

      <div formGroupName="specialNeeds">
        <div
          *ngIf="
            getFamilyMemberControl(i, 'specialNeeds.statusSpecialNeeds')
              ?.value === 'Sim'
          "
        >
          <mat-form-field>
            <input
              matInput
              formControlName="whatDisability"
              name="whatDisability"
              placeholder="SE SIM, QUAL?"
            />
            <mat-error>{{ getErrorMessage("whatDisability") }}</mat-error>
          </mat-form-field>
        </div>
      </div>
      <!-- Botão de remoção de membro da família -->
      <button
        mat-button
        type="button"
        class="form__submit-button"
        (click)="removeFamilyMember(i)"
      >
        Remover Membro da Família
      </button>
    </div>
  </div>

  <!-- Data de entrega da cesta básica -->
  <mat-form-field>
    <mat-label>Data de entrega da cesta básica</mat-label>
    <input
      matInput
      [matDatepicker]="deliveryDatePicker"
      formControlName="basicBasketDeliveryDate"
      name="basicBasketDeliveryDate"
    />
    <mat-error>{{ getErrorMessage("basicBasketDeliveryDate") }}</mat-error>
    <mat-datepicker-toggle
      matSuffix
      [for]="deliveryDatePicker"
    ></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <!-- Algum morador possui enfermidade -->
  <div formGroupName="residentHasIllness">
    <label for="statusIllness">ALGUM MORADOR POSSUI INFERMIDADE:</label>
    <select
      formControlName="statusIllness"
      id="statusIllness"
      name="statusIllness"
    >
      <option value="Sim">Sim</option>
      <option value="Não">Não</option>
      <mat-error>{{ getErrorMessage("statusIllness") }}</mat-error>
    </select>
  </div>

  <div formGroupName="residentHasIllness">
    <!-- Descrição da enfermidade -->
    <div
      *ngIf="
        beneficiaryForm.get('residentHasIllness.statusIllness')?.value === 'Sim'
      "
    >
      <mat-form-field>
        <input
          matInput
          formControlName="which"
          placeholder="QUAL ou QUAIS ?"
          name="which"
        />

        <mat-error>{{ getErrorMessage("which") }}</mat-error>
      </mat-form-field>
    </div>
  </div>

  <!-- Informações úteis e complementares -->
  <mat-form-field>
    <mat-label>Informações úteis e complementares?</mat-label>
    <textarea
      matInput
      formControlName="additionalDetails"
      rows="4"
      name="additionalDetails"
      class="mat-input-element"
    ></textarea>
    <mat-error>{{ getErrorMessage("additionalDetails") }}</mat-error>
  </mat-form-field>

  <!-- Intrevistador -->
  <mat-form-field>
    <mat-label>Intrevistador</mat-label>
    <input matInput formControlName="interviewer" name="interviewer" />
    <mat-error>{{ getErrorMessage("interviewer") }}</mat-error>
  </mat-form-field>

  <!-- Botão de envio -->
  <button class="form__submit-button" type="submit" (click)="SubmitCreate()">
    Cadastrar Beneficiário
  </button>
</form>
