<mat-list>
  <ng-container *ngFor="let item of menu">
    <ng-container *ngIf="item.subMenu === undefined">
      <mat-list-item
        *ngIf="item.title"
        [routerLink]="item.link"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <ng-container *ngIf="item.icon !== undefined && item.icon !== ''">
          <mat-icon [style.color]="item.color" mat-list-icon>
            {{ item.icon }}
          </mat-icon>
        </ng-container>
        <div mat-line>{{ item.title }}</div>
      </mat-list-item>
    </ng-container>

    <ng-container *ngIf="item.subMenu && item.subMenu.length > 0">
      <mat-expansion-panel [expanded]="item.expanded">
        <mat-expansion-panel-header class="submenu-header">
          <mat-panel-title class="d-flex align-items-center">
            <ng-container *ngIf="item.icon !== undefined && item.icon !== ''">
              <mat-icon [style.color]="item.color" mat-list-icon>
                {{ item.icon }}
              </mat-icon>
            </ng-container>
            <span mat-line class="list-item submenu-title" style="margin-left: 8px;">{{ item.title }}</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-menu-item [menu]="item.subMenu" style="display: flex; align-items: center; justify-content: center;"></app-menu-item>
      </mat-expansion-panel>
    </ng-container>
  </ng-container>
</mat-list>
