@import 'variables';

.mat-toolbar {
  background-color: $primary-color;
  color:#17B978; // Assuming you have a $primary-color variable

  button {
    mat-icon {
      color: $white-color; // Assuming you have a $white-color variable
      font-size: 30px;
      width: 30px;
      height: 30px;

      &:is([fontIcon='menu'],
        [fontIcon='person_pin']) {
        color: #17B978;
        font-size: 25px;
        width: 25px;
        height: 25px;
      }
    }
  }
  .name {
    margin-left: 5px; /* ajuste a margem conforme necessário */
  }
  .title {
    color: $white-color; // Assuming you have a $white-color variable
  }

  .spacer {
    flex: 1;
  }

  .welcome-text {
    color: $white-color; // Assuming you have a $white-color variable
  }

  .mat-menu-item {
    span {
      color: $black-color; // Assuming you have a $black-color variable
    }

    &:hover {
      background: rgba(0, 0, 0, 0.04);
    }
  }
}
