<header class='header'>
  <a routerLink='/'>
    <img class='header__logo' src='/assets/medias/logo.png' alt='Projeto Sopa' draggable='false' />
  </a>
  <nav class='navigation'>
    <ul class='navigation__menu'>
      <li *ngFor='let item of header'>
        <a class='navigation__link' [routerLink]='item.path'>
          {{ item.label }}
        </a>
      </li>
    </ul>
  </nav>
  <div class='mobile-menu'>
    <button mat-icon-button [matMenuTriggerFor]='menu' aria-label='menu'>
      <mat-icon aria-hidden='false' fontIcon='more_vert' />
    </button>
    <mat-menu #menu='matMenu'>
      <button class='mobile-menu__button' mat-menu-item *ngFor='let item of header'>
        <a class='navigation__link' [routerLink]='item.path'>
          <mat-icon [fontIcon]='item.materialIconName' /> {{ item.label }}
        </a>
      </button>
    </mat-menu>
  </div>
</header>