.feature-header {
  background: white;
  padding: 1.5em 2em;
  border-bottom: 1px solid #ececec;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
  box-shadow: 0 0 4px 2px #ececec;
  position: sticky;
  top: 0;
  z-index: 9999;
  margin-bottom: 2em;
}

.title {
  display: flex;
  align-items: center;
  gap: 1.5em;
  height: 2em;
}

.feature-header > .start {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

h1,
h2,
p {
  margin-bottom: 0;
}

p {
  color: #848484;
  font-size: 0.9em;
}

.feature-icon {
  font-size: 2.5em;
  width: 2.5em;
  height: auto;
}

/* Estilos para telas pequenas (até 576 pixels de largura) */
@media (max-width: 576px) {
  .feature-header {
    flex-direction: column;
    text-align: center;
  }

  .title {
    flex-direction: column;
    align-items: center;
    height: auto;
  }
}

/* Estilos para telas médias (de 577 a 768 pixels de largura) */
@media (min-width: 577px) and (max-width: 768px) {
  .feature-header {
    gap: 1em;
  }
}
