// Import your variables
@import 'variables';

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-drawer {
  min-width: 200px;
  max-width: 300px;
}

.margin-left {
  margin-left: 300px;
}

mat-drawer-container {
  min-height: calc(100vh - 64px);
}

::ng-deep .mat-drawer-inner-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: $white-color; // Assuming you have a $background-color variable
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.date-hour-content {
  background: $primary-color + '38'; // Assuming you have a $primary-color variable
  text-align: center;
  padding: 10px 0;
}
