// Importe suas variáveis
@import 'variables';

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-drawer {
  min-width: 200px;
  max-width: 300px;

  .mat-drawer-inner-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: $white-color;

    .date-hour-content {
      background: $primary-color + '38';
      text-align: center;
      padding: 10px 0;
    }
  }
}

.margin-left {
  margin-left: 300px;
}

mat-drawer-container {
  min-height: calc(100vh - 64px);
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

@media (max-width: 900px) {
  mat-drawer {
    max-width: 300px;
    // Adiciona um efeito de transição para suavizar a abertura/fechamento
    transition: max-width 0.3s ease;
  }

  .margin-left {
    margin-left: 0;
  }

  mat-drawer[opened="true"] {
    // Aumenta a largura quando o menu está aberto
    max-width: 100%;
  }
}
