<section class="section">
  <img class="section__initial-image" src="/assets/photos/team.png" alt="Equipe Projeto Sopa" draggable="false">
  <div class="section__description">
    <h1 class="section__title" id="about">
      Projeto Sopa <br>
      Taquaritinga-SP
    </h1>
    <p class="section__paragraph">
      Nossas atividades tiveram início em 2015 e contamos com um grupo de voluntários que se reúnem semanalmente para o
      preparo e distribuição da sopa para os bairros carentes de nossa cidade. O projeto se mantém através de
      doações da população e outras entidades.
    </p>
  </div>

</section>