@import 'variables';

.footer {
  background-color: $primary-color;
  box-shadow: 5px 5px $secondary-color;
  border-radius: 25px;
  margin: 2rem auto;
  padding: 2rem;
  max-width: 1500px;

  @media (width <=1500px) {
    margin: 2rem;
  }

  @media (width <=1000px) {
    gap: 1rem;
    padding: 2rem;
  }

  &__paragraph {
    color: $white-color;
    text-align: center;
    font-size: .9rem;
    font-style: italic;
    margin-top: 2rem;
  }
}

.list-container {
  display: flex;
  justify-content: space-between;

  @media (width <=1000px) {
    flex-direction: column;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: .25rem;

  &__item,
  &__list__link {
    color: $white-color;
    font-weight: 500;
    line-break: anywhere;
  }

  &__item--title {
    color: $secondary-color;
    font-size: 1.45rem;
    font-weight: 600;
    margin-bottom: .5rem;
  }
}