.footer {
  background-color: var(--primary-color);
  box-shadow: 5px 5px var(--secondary-color);
  border-radius: 25px;
  margin: 2rem auto;
  padding: 2rem;
  max-width: 1500px;

  @media (width <=1500px) {
    margin: 2rem;
  }

  @media (width <=1000px) {
    gap: 1rem;
    padding: 1rem;
  }
}

.footer__paragraph {
  color: var(--white-color);
  text-align: center;
  font-size: .9rem;
  font-style: italic;
  margin-top: 2rem;
}

.list-container {
  display: flex;
  justify-content: space-between;

  @media (width <=1000px) {
    flex-direction: column;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: .25rem;
}

.list__item,
.list__link {
  color: var(--white-color);
  font-weight: 500;
  line-break: anywhere;
}

.list__item--title {
  color: var(--secondary-color);
  font-size: 1.45rem;
  font-weight: 600;
  margin-bottom: .5rem;
}