.section {
  display: flex;
  align-items: end;
  justify-content: space-evenly;
  padding: 2rem;

  @media (width <=1300px) {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}

.informations {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  max-width: 600px;
  width: 100%;
}

.informations__title {
  color: var(--primary-color);
  font-size: 2rem;
}

.informations__paragraph {
  font-size: clamp(.85rem, 5vw, 1rem);
  line-height: 1.85;
}

.informations__map {
  border: none;
  height: 300px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  max-width: 500px;
  width: 100%;
}

.form__half {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: .5rem;
}

.form__submit-button {
  color: var(--white-color);
  background-color: var(--primary-color);
  border: none;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  padding-block: 1rem;
  transition: 300ms ease-out;

  &:hover {
    opacity: .5;
  }
}