<section class="section">
  <h1 class="section__title">
    <mat-icon fontIcon="visibility" /> Transparência
  </h1>
  <p class="section__paragraph">
    Aqui compartilhamos informações cruciais sobre nossa organização, valores e práticas. Você encontrará detalhes
    sobre nossa missão, equipe, finanças e compromisso com a ética e a responsabilidade.
  </p>
  <p class="section__paragraph">
    Acreditamos na importância da
    transparência como base para construir confiança com nossa comunidade e parceiros.
  </p>
</section>